
*{
    font-family: Verdana,  Tahoma, sans-serif;
}


header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    background-color: #778899;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    font-size: 32px;
    margin-right: 50px;
    border-style: solid;
    border-color:#87CEFA;
    text-decoration: none;
    color: #000000;



}

nav a:hover{
    background-color: aqua;
}


h2{
    font-size: 35px;
}

.work{
    
    margin-top:20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    background-color: #778899;
}

.work a{
flex-grow: 2;
   font-size: 23px;
   text-decoration: none;
   border-style: solid;
   border-color: #87CEFA;
   color: #000000;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 .flex-item {
    min-height: 75px;
    max-height: 75px;
    display: flex;
    align-items: flex-end;
    
    margin: 2px 10px 2px 10px;
    
  }

.proj1{
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
    flex-basis: 100%;
    background-image: url("First\ Project.jpg");
    background-size: 400px 200px;
    background-repeat: no-repeat;
  
}

.proj2, .proj3, .proj4, .proj5{
    min-height: 150px;
    min-width: 150px;
    max-height: 225px;
    max-width: 225px;
    flex-basis: 100%;
    background-image: url("Coming\ soon.jpg");
    background-size: 225px 225px;
    background-repeat: no-repeat;
}


.aboutme{
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    background-color: #778899

}
.aboutme img{
    width: 23%;
    height: auto;
    margin-left: 150px;
}

.aboutme p{
    float: right;
    font-size: 30px;

}




footer{
    position: sticky;
    bottom: 0;
    padding:5px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    background-color: #FAEBD7;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 5px 5px 5px 5px;

}

footer a:hover{
    color: aqua;
    text-decoration: underline;

}

/*Rest of CSS is resizing */
@media screen and (max-width: 1551px) {
 
    .work{
        margin:20px 10px 20px 10px;
        padding: 40px;
        height: 400px;
        border-style: solid;
        border-color: black;
        border-radius: 50px;
        background-color: #778899;
    }
    .proj1, .proj2,.proj3, .proj4,.proj5{
 
        margin-top:10px;
        min-height: 200px;
        max-height: 200px;
        max-width: 225px;
        min-width: 225px;
        background-image: 225px 225px;

}
.aboutme p {
    font-size: 35px;
}

.contactme {
    font-size: 50px;

}
}


@media screen and (max-width: 1378px) {


 
    .work{
        margin:20px 10px 20px 10px;
        padding: 40px;
        height: 500px;
        border-style: solid;
        border-color: black;
        border-radius: 50px;
        background-color: #778899;
    }
    .proj1, .proj2,.proj3, .proj4,.proj5{
 
        margin-top:10px;
        min-height: 200px;
        max-height: 200px;
        max-width: 225px;
        min-width: 225px;
        background-image: 225px 225px;

}
.aboutme p {
    font-size: 35px;
}

.contactme {
    font-size: 50px;

}
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }


    .work{
        margin:20px 10px 20px 10px;
        padding: 40px;
        height: 1250px;
        border-style: solid;
        border-color: black;
        border-radius: 50px;
        background-color: #778899;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
      }
    
     .flex-item {
        min-height: 75x;
        max-height: 75px;
        display: flex;
        align-items: flex-end;
        margin-top: 0px;
        
      }

    .proj1, .proj2,.proj3, .proj4,.proj5{
        margin-left:125px;
        margin-top:10px;
        min-height: 200px;
        max-height: 200px;
        max-width: 200px;
        min-width: 200px;
        background-image: 200px 150x;

    }

    .aboutme img{
        width: 30%;
        height: auto;
        margin-left: 20px;
    }

    .aboutme p{
       font-size: 30px;
       
    }

}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        text-align: center;
      
    }

    .proj1, .proj1, .proj2,.proj3, .proj4,.proj5{
        margin-left:10px;
        display: flex;
        flex-wrap: wrap;
        justify-content:  space-around;
   
    }

    .aboutme img{
        width: 50%;
        height: auto;
        margin-left: 20px;
    }


    .contactme a{
        font-size: 20px;
    }
}